<%= form_for @movie do |f| %>
    <label for="title">Title:</label><br>
    <%= f.text_field :title %><br>
    <label for="genre">Genre:</label><br>
    <%= f.text_field :genre %><br>
    <label for="rating">Rating:</label><br>
    <%= f.number_field :rating %><br>
    <%= f.submit %>
<% end %>
